.center-me{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 100px;
    right: 100px;
    position: absolute;
}
.logo {
    font-size: 28px;
    font-family: 'Monoton', cursive;
}
.headingsub {
    font-size: 75px;
    font-family: 'Poiret One', cursive;
}
.heading {
    font-size: 80px;
    font-family: 'Monoton', cursive;
}